* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* font setting */
.roboto {font-family: 'Roboto', sans-serif;}
.poppins {font-family: 'Poppins', sans-serif;}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.category {
    border-top: 2px black solid;
    height: 0;
    width: 60%;
    margin: auto;
}

.main {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
}

.main a {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.function {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
}

.function a {
    border: 1px black solid;
    border-radius: 20px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
