.Montserrat {
    font-family: 'Montserrat', sans-serif;;
}

.Raleway {
    font-family: 'Raleway', sans-serif;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}

.Open-Sans {
    font-family: 'Open Sans', sans-serif;
}