<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html'%}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/edit.css'%}">
    {% endblock css %}
</head>
<body>
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="roboto">
            <div>
                <p>Title</p>
                <input type="text" name="title" value="{{article.title}}">
            </div>
            <div>
                <p>Detail</p>
                <textarea type='text' name="content" cols="30" rows="10">{{article.content}}</textarea>
            </div>
            <div>
                <p>Due Date</p>
                <input type="date" name="due" value="{{article.due}}">    
            </div>
            <div class="button">
                <button type="submit">Save</button> 
                <a href="{% url 'index'%}">Back</a>
            </div>
        </div>
    </form>
    {% endblock content %}
</body>
</html>